{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Найди свой вопрос на собеседование. Подготовься к собеседованию быстро"
    />
    <script async="" src="{% static 'js/tag.js' %}"></script>
    <script type="text/javascript">
      !(function (e, t, c, n, r, a, m) {
        (e.ym =
          e.ym ||
          function () {
            (e.ym.a = e.ym.a || []).push(arguments);
          }),
          (e.ym.l = 1 * new Date());
        for (var s = 0; s < document.scripts.length; s++)
          if (document.scripts[s].src === n) return;
        (a = t.createElement(c)),
          (m = t.getElementsByTagName(c)[0]),
          (a.async = 1),
          (a.src = n),
          m.parentNode.insertBefore(a, m);
      })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js"),
        ym(90727081, "init", {
          clickmap: !0,
          trackLinks: !0,
          accurateTrackBounce: !0,
        });
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/90727081"
          style="position: absolute; left: -9999px"
          alt=""
        /></div
    ></noscript>
    <link rel="apple-touch-icon" href="https://alit-poznikov.ru/logo192.png" />
    
    <title>Поиск</title>
    <script
      defer="defer"
      src="{% static 'js/main.bb4d41e4.js' %}"
    ></script>
    <link href="{% static 'css/main.f66e4679.css' %}" rel="stylesheet" />
    <style data-emotion="css-global" data-s=""></style>
    <style data-emotion="css" data-s=""></style>
    <meta name="keywords" content="react,meta,document,html,tags" data-rdm="" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" style="margin-bottom: 100px">
      <div class="MuiContainer-root MuiContainer-maxWidthLg css-1qsxih2">
        <div class="header">
          <div class="header_inner">
            <div class="header_logo_container">
              <a class="mainName" href="https://alit-poznikov.ru/"
                ><img src="{% static 'png/app.png' %}" height="40"
              /></a>
            </div>
            <div class="open_burger">
              <img
                src="{% static 'png/burger.png' %}"
                width="30"
                class="burgerLogo"
              />
            </div>
            <div class="nav_block">
              <div style="display: flex">
                <a href="https://t.me/interviewITBot" class="header_link ml-15"
                  >IT БОТ</a
                ><a
                  href="https://t.me/HelloMeanOfficial"
                  class="header_link ml-15"
                  >ПОМОЩЬ/СОБЕСЕДОВАНИЕ</a
                ><a
                  href="https://alit-poznikov.ru/contact"
                  class="header_link ml-15"
                  >КОНТАКТЫ</a
                >
              </div>
            </div>
          </div>
          <div class="nav_block_burder" style="display: none">
            <div
              style="display: flex; flex-direction: column; align-items: center"
            >
              <a href="https://t.me/interviewITBot" class="header_link"
                >IT БОТ</a
              ><a href="https://t.me/HelloMeanOfficial" class="header_link"
                >ПОМОЩЬ/СОБЕСЕДОВАНИЕ</a
              ><a href="https://alit-poznikov.ru/contact" class="header_link"
                >КОНТАКТЫ</a
              >
            </div>
          </div>
        </div>
        <div style="opacity: 1; transform: none">
          <nav
            style="
              overflow-x: auto;
              padding: 10px;
              margin: 5px;
              text-align: center;
            "
          >
            <a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/Popular%20companies"
              >Popular companies</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/JavaScript"
              >JavaScript</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/PHP"
              >PHP</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/HTML%20coding"
              >HTML coding</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/Java%20Language"
              >Java Language</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/C%20Sharp"
              >C Sharp</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/Python"
              >Python</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/SQL"
              >SQL</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/Devops"
              >Devops</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/C++"
              >C++</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/Dart"
              >Dart</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/Golang"
              >Golang</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/Ruby"
              >Ruby</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/Project%20Manager"
              >Project Manager</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/Business%20analysis"
              >Business analysis</a
            ><a
              class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap MuiLink-root MuiLink-underlineAlways navlink css-17l56d1"
              href="https://alit-poznikov.ru/search/QA"
              >QA</a
            >
          </nav>
        </div>
        <div
          class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-5 css-8lpydc"
        >
          <div
            class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8 css-6gyha"
          >
            <h6
              class="MuiTypography-root MuiTypography-h6 MuiTypography-gutterBottom css-1xa5okv"
            >
              Как можно добавить мидлвары (middlewares) в FastAPI?
            </h6>
            <hr class="MuiDivider-root MuiDivider-fullWidth css-39bbo6" />
            <hr class="MuiDivider-root MuiDivider-fullWidth css-39bbo6" />
            <span class="markdown"
              >Ответ: Мидлвары могут быть добавлены в FastAPI с помощью метода
              app.add_middleware(). Мидлвары представляют собой функции, которые
              выполняются перед или после обработки запроса.</span
            >
          </div>
          <div
            class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 css-19egsyp"
          >
            <div
              class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 css-1jh4l6h"
            >
              <h6
                class="MuiTypography-root MuiTypography-h6 MuiTypography-gutterBottom css-1xa5okv"
              >
                Что тут есть ?
              </h6>
              <p class="MuiTypography-root MuiTypography-body1 css-1ki33mf">
                Тут ты можешь найти большое количество вопросов на совсем разные
                технологии. Ты можешь подготовиться к собеседованию и пройти
                импровезированное в боте собеседнике, а так же ты можешь
                записаться на реальное собеседование у создателя
              </p>
            </div>
            <div
              class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 css-1onmin0"
            >
              <h6
                class="MuiTypography-root MuiTypography-h6 MuiTypography-gutterBottom css-1xa5okv"
              >
                Наши площадки
              </h6>
              <a
                class="MuiTypography-root MuiTypography-body1 MuiLink-root MuiLink-underlineAlways css-1h8vq0u"
                href="https://t.me/interviewITBot"
                style="text-decoration: none"
                >Бот IT собеседник</a
              ><a
                class="MuiTypography-root MuiTypography-body1 MuiLink-root MuiLink-underlineAlways css-1h8vq0u"
                href="https://t.me/jswrl"
                style="text-decoration: none"
                >Джаваскриптезеры</a
              ><a
                class="MuiTypography-root MuiTypography-body1 MuiLink-root MuiLink-underlineAlways css-1h8vq0u"
                href="https://www.youtube.com/channel/UCPHIf4eGH-i5yox4MqI-fvw"
                style="text-decoration: none"
                >Джаваскриптезеры YouTube</a
              ><a
                class="MuiTypography-root MuiTypography-body1 MuiLink-root MuiLink-underlineAlways css-1h8vq0u"
                href="https://t.me/ptworl"
                style="text-decoration: none"
                >Питонисты</a
              ><a
                class="MuiTypography-root MuiTypography-body1 MuiLink-root MuiLink-underlineAlways css-1h8vq0u"
                href="https://www.youtube.com/@ptworl"
                style="text-decoration: none"
                >Питонисты YouTube</a
              ><a
                class="MuiTypography-root MuiTypography-body1 MuiLink-root MuiLink-underlineAlways css-1h8vq0u"
                href="https://t.me/+DWDnUTDOH71iYjcy"
                style="text-decoration: none"
                >MIXER</a
              ><a
                class="MuiTypography-root MuiTypography-body1 MuiLink-root MuiLink-underlineAlways css-1h8vq0u"
                href="https://www.youtube.com/@mixer_it"
                style="text-decoration: none"
                >MIXER YouTube</a
              ><a
                class="MuiTypography-root MuiTypography-body1 MuiLink-root MuiLink-underlineAlways css-1h8vq0u"
                href="https://www.itsystem.space/"
                style="text-decoration: none"
                >Вместе с ITSystem</a
              ><a
                class="MuiTypography-root MuiTypography-body1 MuiLink-root MuiLink-underlineAlways css-1h8vq0u"
                href="https://t.me/HelloMeanOfficial"
                style="text-decoration: none"
                >Связаться</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
