{% extends 'main/layout.html'%}

{% block namecont %}
Helo my new project

{% endblock %}

{% block titlcont %}
<div class="features">
    <h1>News en Site</h1>
    {% if news_all_posts_models%}

        {% for each_post in news_all_posts_models %}
            <div class="alert alert-warning">
                <h3>{{each_post.title}}</h3>
                <p>{{each_post.anons}}</p>
                <a href="{% url 'news-detail' each_post.id %}"><button class = "btn btn-warning">Read in Detail</button></a>
                
            </div>
        
        {% endfor %}
    {% else %}
    <p>You dont have sets</p>
    {% endif %}
</div>


{% endblock %}

 