{% extends 'main/layout.html'%}

{% block namecont %}
Delete Article

{% endblock %}

{% block titlcont %}
<div class="features">
    <h1>Delete News</h1>
    <form method = "post">

        {{form_from_ArticlesFrom.title}}<br>
        {{form_from_ArticlesFrom.anons}}<br>
        {{form_from_ArticlesFrom.full_text}}<br>
        {{form_from_ArticlesFrom.date}} <br>
        <span>{{error_exception_views}}</span>
        <button class="btn btn-success" type="submit">Delete a new news</button>
        {% csrf_token %}


    </form>
</div>


{% endblock %}
